# Required — fill in before deploying
PORT=8080

LLDAP_JWT_SECRET=
LLDAP_KEY_SEED=
LLDAP_LDAP_BASE_DN=dc=example,dc=com
LLDAP_LDAP_USER_PASS=
LLDAP_LDAP_USER_EMAIL=admin@example.com
LLDAP_DATABASE_URL=sqlite:///data/users.db?mode=rwc
LLDAP_HTTP_URL=https://ldap.yourdomain.com
LLDAP_SMTP_OPTIONS__ENABLE_PASSWORD_RESET=true
LLDAP_SMTP_OPTIONS__SERVER=
LLDAP_SMTP_OPTIONS__PORT=465
LLDAP_SMTP_OPTIONS__TLS_REQUIRED=true
LLDAP_SMTP_OPTIONS__USER=
LLDAP_SMTP_OPTIONS__PASSWORD=
LLDAP_SMTP_OPTIONS__FROM=noreply@yourdomain.com
